.aboutus-section {
  padding-top: 0px;
}

.about-text {
  display: flex;
  gap: 56px;
  justify-content: center;
}

.why-us-conteiner {
  display: flex;
  justify-content: space-between;
}

.why-us-content {
  max-width: 710px;
}

.about-conteiner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.about-content {
  padding: 24px 32px;
}
