.fonts-section {
  color: var(--color-primary-dark);
  line-height: 1.5;
  font-family: "roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.fonts-section span {
  font-weight: 700;
}
