.h-section {
  margin-top: 100px;
  margin-bottom: 0;
  margin-left: 122px;
}

.h-title {
  color: var(--color-primary-dark);
  font-size: 18px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  /* padding: 16px; */
}
